*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(164, 204, 206);
}

.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategray;
    color: aliceblue;
}

.header h1{
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: antiquewhite;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 50px;
    width: 50px;
    margin-bottom: 25px;
    background-image: url("C:\Users\haley\OneDrive\Desktop\unnamed2.jpg");
    background-color: rgb(164, 204, 206);
    background-size: small;
    background-position: left;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px ;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
}

.about-me, .my-work, .contact-me {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: peachpuff;
    
}

.about-me {
    margin-bottom: 10px;
    text-align: center;
}

.my-work {
    margin-bottom: 10px;
    text-align: center;
}

.contact-me {
    margin-bottom: 10px;
    text-align: center;
}

.about-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.my-work img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.contact-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.about-me, .my-work, .contact-me h2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(164, 204, 206);
    color: aliceblue;
}

.about-me, .contact-me, .my-work h3 {
    margin-bottom: 20px;
    font-size: 36px;
    color: aliceblue;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}